<div class="task" id="{{task.id}}">
  <h5 class="ui-sortable-handle">
    <strong>
      {{fa-icon task.statusIcon}}
    </strong>
    {{task.name}}
    <div class="task-menu">
      <a class="toggle-nav">
        {{fa-icon "bars"}}
      </a>
    </div>
  </h5>
  <div>
    <div class="due-date">
      <small>
        {{fa-icon "calendar"}}
        {{task.dueDate}}
      </small>
    </div>
    <small>
      {{task.content}}
    </small>
  </div>
</div>