<div class="container">
  {{page-header icon="book" title="Projekte" button="Neues Projekt" url="project.new"}}
</div>

<div id="projects">
  <ul>
  {{#each model as |project| }}
    <li style="list-style: none">
      <details>
        <summary>
          {{#link-to 'project.show' project.id}}
            {{project.title}}
          {{/link-to}} 
          <small>({{project.abbrDesc}})</small>
          {{#link-to 'project.edit' project.id}}
            {{fa-icon "pencil"}}
          {{/link-to}}
          <a {{action 'delete' project}}>
            {{fa-icon "trash" }}
          </a>
        </summary>
        <small>
          {{project.description}}
        </small>
      </details></li>
  {{/each}}
  </ul>
</div>
