<div class="container">
  {{page-header icon="check" title="Aufgaben"}}
</div>
<div id="tasks">
  <div class="content-33">
    <h4>
      {{fa-icon "square-o"}}
      To Do
    </h4>
    <div class="column ui-sortable" id="status-0">
      {{#each model as |t|}}
        {{#if true}}
          {{task-item task=t}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="content-33">
    <h4>
      {{fa-icon "pencil-square-o"}}
      In Arbeit
    </h4>
    <div class="column ui-sortable" id="status-1">
      {{#each model as |t|}}
        {{#if 't.status == 1'}}
          {{task-item task=t}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="content-33-last">
    <h4>
      {{fa-icon "check-square-o"}}
      Erledigt
    </h4>
    <div class="column ui-sortable" id="status-2">
      {{#each model as |t|}}
        {{#if 't.status == 2'}}
          {{task-item task=t}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>