<div class="container">
  {{page-header icon="check" title="Aufgaben" button="Neue Aufgabe" url="task.new"}}
</div>
<div id="tasks">
  <div class="content-33">
    <h4>
      {{fa-icon "square-o"}}
      To Do
    </h4>
    {{#draggable-object-target action="updateStatus" status="0" dragOverAction='showTarget' dragOutAction='hideTarget'}}
      {{#each model as |task|}}
        {{#if task.statusTodo}}
          {{#draggable-object content=task isSortable=true sortingScope="#tasks" dragHandle="h5"}}
              {{task-item task=task}}
          {{/draggable-object}}
        {{/if}}
      {{/each}}
    {{/draggable-object-target}}
  </div>
  <div class="content-33">
    <h4>
      {{fa-icon "pencil-square-o"}}
      In Arbeit
    </h4>
    {{#draggable-object-target action="updateStatus" status="1"}}
      {{#each model as |task|}}
        {{#if task.statusWorking}}
          {{#draggable-object content=task isSortable=true sortingScope="#tasks" dragHandle="h5"}}
              {{task-item task=task}}
          {{/draggable-object}}
        {{/if}}
      {{/each}}
    {{/draggable-object-target}}
  </div>
  <div class="content-33-last">
    <h4>
      {{fa-icon "check-square-o"}}
      Erledigt
    </h4>
    {{#draggable-object-target action="updateStatus" status="2"}}
      {{#each model as |task|}}
        {{#if task.statusDone}}
          {{#draggable-object content=task isSortable=true sortingScope="#tasks" dragHandle="h5"}}
              {{task-item task=task}}
          {{/draggable-object}}
        {{/if}}
      {{/each}}
    {{/draggable-object-target}}
  </div>
</div>